<html ng-app='myApp'>

<head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>
    <script type='text/javascript'>
        var myAppModule = angular.module('myApp', []);
        // the .controller() method adds a controller to the module
        myAppModule.controller('userController', function($scope) {
            $scope.users = [{
                first_name: 'Kukihiro', last_name: 'Matsumoto', fav_lang: 'Ruby'
            }, {
                first_name: 'Ryan', last_name: 'Dahl', fav_lang: 'Javascript'
            }, {
                first_name: 'Brendan', last_name: 'Eich', fav_lang: 'Javascript'
            }];
            console.log('first');
            console.log('users', $scope.users);
            $scope.addUser = function() {
                // add to the array
                console.log('new', $scope.newUser);
                $scope.users.push($scope.newUser);
                // clear the form values
                $scope.newUser = {};
            };
            $scope.deleteUser = function(user) {
                console.log($scope.users);
                // add to the array
                var deleteUser = $scope.users.indexOf(user);
                console.log('delete',deleteUser);
                if(~deleteUser){
                    console.log("deleteUser =", deleteUser );
                    $scope.users.splice(deleteUser,1);
                // clear the form values
                    $scope.user = {};
                    console.log($scope.users);
                }
            };
        });


    </script>
    <style>
        #usersBox {
            width: 800px;
            border-style: solid;
            margin 1em;
        }
        tr.d0 td {
	        background-color: #CC9999; color: black;
        }
        tr.d1 td {
	        background-color: #9999CC; color: black;
        }
    </style>
</head>

<body>
    <div ng-controller='userController' id='usersBox'>
        <h3>Users Controller</h3>
        <form>
            First Name:        <input type='text' ng-model='newUser.first_name'>
            Last Name:         <input type='text' ng-model='newUser.last_name'>
            Favorite Language: <input type='text' ng-model='newUser.fav_lang'>
            <input type='submit' value='Create User' ng-click='addUser()' style="float: right">
        </form>
            <table width="800">
                <tr><th>First Name</th><th>Last Name</th><th>Favorite Language</th><th>Actions</th></tr>
                <!-- <li ng-repeat="food in foods | filter:filter_name">{{ food.name }}</li> -->
                <tr ng-repeat="user in users" ng-class-odd="'d1'" ng-class-even="'d2'">
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.fav_lang}}</td>
                    <td><input type='submit' value='Delete User' ng-click='deleteUser(user)'</td>
                </tr>
            </table>
    </div>
</body>
</ht
